
<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/taca/blob/main/ref/charu/7_ch/7_2_SVD_A_Linear_Algebra_Perspective.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/taca/blob/main/ref/charu/7_ch/7_2_SVD_A_Linear_Algebra_Perspective.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>
â€‹

# Simulacro inicial.

In [1]:
import numpy as np 
import pandas as pd

In [3]:
respuestas = pd.read_csv('respuestas_grupo_1.csv') 
respuestas.head()

,asks,answer_right,resp_1,resp_2,resp_3,resp_4,resp_5,resp_6,resp_7,resp_8,resp_9,resp_10,resp_11,resp_12
0,41,C,C,c,c,C,C,C,D,D,C,D,C,C
1,42,A,A,a,a,A,A,A,C,A,A,D,A,C
2,43,A,C,b,c,A,D,A,A,B,A,A,D,C
3,44,A,A,c,b,B,A,A,B,A,C,C,A,D
4,45,A,B,a,a,B,A,a,D,A,A,B,A,A

In [7]:
for i in range(1,13):
    respuestas['correctas_est_'+str(i)] = respuestas['answer_right'] == respuestas['resp_'+str(i)]

In [8]:
respuestas.head()

,asks,answer_right,resp_1,resp_2,resp_3,resp_4,resp_5,resp_6,resp_7,resp_8,...,correctas_est_3,correctas_est_4,correctas_est_5,correctas_est_6,correctas_est_7,correctas_est_8,correctas_est_9,correctas_est_10,correctas_est_11,correctas_est_12
0,41,C,C,c,c,C,C,C,D,D,...,False,True,True,True,False,False,True,False,True,True
1,42,A,A,a,a,A,A,A,C,A,...,False,False,False,False,False,False,False,False,False,False
2,43,A,C,b,c,A,D,A,A,B,...,False,True,False,True,True,False,True,True,False,False
3,44,A,A,c,b,B,A,A,B,A,...,False,False,True,True,False,True,False,False,True,False
4,45,A,B,a,a,B,A,a,D,A,...,False,False,True,False,False,True,True,False,True,True

In [9]:
calificacion_diagnostico = []
for i in range(1,13):
    calificacion_diagnostico.append(respuestas['correctas_est_'+str(i)].sum()/38*5)

calificacion_diagnostico

[1.8421052631578947,
 0.0,
 0.0,
 1.1842105263157894,
 2.5,
 0.5263157894736842,
 1.4473684210526316,
 1.973684210526316,
 1.4473684210526316,
 2.1052631578947367,
 2.3684210526315788,
 2.236842105263158]